@import url('https://fonts.cdnfonts.com/css/public-pixel');



.app {
    display:flex;
    flex-direction: column;
}

ul, li {
    list-style-type: none;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
padding-bottom: 80px;
}
  

img {
    max-width:100%;
    height:auto;
}

p {
    text-align:left;
}

.contents {
    background-color: #131313;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
    border: 3px solid #4A025E;
}
.contents-1 {
    margin-top: -4rem;
}

.ctrailer {
    margin-top: 8rem;
}

.normal {
    margin-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
}

h1 {
    font-family: 'public pixel';
    font-size:2rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
    text-transform: uppercase;
    -webkit-text-stroke:2px black;
    font-weight:900;
    background: -webkit-linear-gradient(#910F93, #4A025E);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#screenshots {
    margin:0 auto;
    border: 2px solid black;
}

#screenshots-bg {
    background-color:black;
    width:100%;
}

#intro {
    width: 80%;
}
#trailer {
    position:relative;
    top:-6rem;
    margin-bottom:0;
}

article {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    margin:0 auto;
    margin-bottom:3rem;
}

main {
    flex:1;
    display:flex;
    flex-direction: column;
    width: 100%;
    height:auto;
    box-sizing: border-box;
    margin: 0 auto;
    text-align:center;
}

body {
    margin: 0;
    background-color: #010101;
    color:rgb(239, 239, 239);
}

#getOnSteam {
    width: 100%;
    height: 190px;
    max-width: 646px;
}